<style>
  .mars_pic {
    background-image: url("/mars_surface.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
</style>


  <!-- <img src="/mars_surface.png" id="mars_pic"> -->
  <!--<img class="resize" src="/some_picture_.jpg"> -->
  <h3><%=session[:rover_routes]%></h3>
  <%=rover1_route = session[:rover_routes]["rover1"]%>
  <%=rover1_route = session[:rover_routes]["rover2"]%>



  <%rover1_route = session[:rover_routes]["rover1"]%>
  <%rover2_route = session[:rover_routes]["rover2"]%>

  <h2>The starting position for Rover #1 is <%=rover1_route[0]%></h2>
  <h3>The path Rover #1 took is <%=rover1_route%></h3>
  <h2>The ending position for Rover #1 is <%=rover1_route.last%></h2><br><br>



  <h2>The starting position for Rover #2 is <%=rover2_route[0]%></h2>
  <h3>The path Rover #2 took is <%=rover2_route%></h3>
  <h2>The ending position for Rover #2 is <%=rover2_route.last%></h2>

  <canvas  id="myCanvas" class="mars_pic" width="500vw" height="500vh" style="border:1px solid #d3d3d3;"</canvas>

<script>

var grid_string = '<%= session[:grid_size].to_json %>';
var grid_size = JSON.parse(grid_string);

var rover1_string = '<%= rover1_route.to_json %>';
var rover1_array = JSON.parse(rover1_string);

var rover2_string = '<%= rover2_route.to_json %>';
var rover2_array = JSON.parse(rover2_string);

  // var grid_string = "<%= session[:grid_size].to_json %>";
  // var grid_size = JSON.parse(grid_string);
  //
  // var string_route = JSON.stringify('<%= rover1_route %>');
  // var rover1_route = JSON.parse(string_route);
  //
  // var string_route = JSON.stringify('<%= rover2_route %>');
  // var rover2_route = JSON.parse(string_route);

  var c = document.getElementById("myCanvas");
  var ctx = c.getContext("2d");
  ctx.lineWidth=2;
  ctx.strokeStyle="green";
  ctx.strokeRect(2,2,498,498);
  // var img = new Image();
  // var img = document.getElementById('mars_pic');
  // img.src = source;
  // img.src = '/mars_surface.png';
  // ctx.drawImage(img, 0, 0);


  function drawGrid(grid_size,ctx) {
    var row_width = 500 / grid_size[0];
    var column_width = 500 / grid_size[0];

    var i;
    for (i = 0; i < grid_size[0]; i++) {
    ctx.moveTo(row_width * i, 0);
    ctx.lineTo(row_width * i, 499);
    ctx.stroke();
    }

    var i;
    for (i = 0; i < grid_size[0]; i++) {
      ctx.moveTo(0, column_width * i);
      ctx.lineTo(499, column_width * i);

      ctx.stroke();
    }
  }

  function drawRover1(rover1_route, ctx){
    // rover1_route.forEach(function(position) {
    //   console.log(position);
    // });

    var array1 = rover1_route;

array1.forEach(function(element) {
  console.log(element);
});


    // var img = new Image();
    // img.src = 'https://upload.wikimedia.org/wikipedia/commons/0/06/Noctis_Labyrinthus_Viking_1_1980.png';
    // ctx.drawImage(img, 20, 20);
    // ctx.drawImage(image, dx, dy, dWidth, dHeight);
  }

  drawGrid(grid_size,ctx);
  drawRover1(rover1_array, ctx);

</script>
