<style>
  .mars_pic {
    background-image: url("/mars_surface.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
  }

  #wrapper{
    position:relative;
    width:500px;
    height:500px;
}
#grid_canvas,#roverCanvas{
    position:absolute; top:0px; left:0px;
    width:500px;
    height:500px;
}
</style>

<body onload="create_div()">

  <img id="rover_image" style="display: none;" src="red-rover.png">


  <!-- <img src="/mars_surface.png" id="mars_pic"> -->
  <!--<img class="resize" src="/some_picture_.jpg"> -->
  <h3><%=session[:rover_routes]%></h3>
  <%=rover1_route = session[:rover_routes]["rover1"]%>
  <%=rover1_route = session[:rover_routes]["rover2"]%>



  <!-- <%rover1_route = session[:rover_routes]["rover1"]%>
  <%rover2_route = session[:rover_routes]["rover2"]%> -->

  <h2>The starting position for Rover #1 is <%=rover1_route[0]%></h2>
  <h3>The path Rover #1 took is <%=rover1_route%></h3>
  <h2>The ending position for Rover #1 is <%=rover1_route.last%></h2><br><br>



  <h2>The starting position for Rover #2 is <%=rover2_route[0]%></h2>
  <h3>The path Rover #2 took is <%=rover2_route%></h3>
  <h2>The ending position for Rover #2 is <%=rover2_route.last%></h2>

  <!-- <div id = "load_div"></div> -->

  <!-- <div id = "placehere"></div> -->
  <div id="wrapper">
    <canvas  id="grid_canvas" class="mars_pic" width="500vw" height="500vh"></canvas>
    <canvas  id="roverCanvas" width="500vw" height="500vh"></canvas>
  </div>

</body>

<script>
  // var check = document.getElementById('loaded');
  // if (check == null) {
    console.log("You are the coolest dude!");
  var grid_string = '<%= session[:grid_size].to_json %>';
  var grid_size = JSON.parse(grid_string);

  // var rover1_string = '<%= rover1_route.to_json %>';
  // var current_rover_array = JSON.parse(rover1_string);
  // var rover2_string = '<%= rover2_route.to_json %>';
  // var rover2_array = JSON.parse(rover2_string);

  var all_rovers_hash = JSON.parse('<%= session[:rover_routes].to_json %>');
  var all_rovers_array = [];
  var rover_array_counter = 0;
  var x_multiplyer = 500 / grid_size[0];
  var y_multiplyer = 500 / grid_size[1];

  for(var index in all_rovers_hash) {
    all_rovers_array.push(all_rovers_hash[index]);
  }

  // var c = document.getElementById("myCanvas");
  // var ctx = c.getContext("2d");


  // function sleep(milliseconds) {
  //   var start = new Date().getTime();
  //   for (var i = 0; i < 1e7; i++) {
  //     if ((new Date().getTime() - start) > milliseconds){
  //       break;
  //     }
  //   }
  // }


  function drawGrid(grid_size) {
    var c = document.getElementById("grid_canvas");
    var ctx = c.getContext("2d");
    ctx.lineWidth=2;
    ctx.strokeStyle="green";
    ctx.strokeRect(2,2,498,498);
    var row_width = 500 / grid_size[0] + 1;
    var column_width = 500 / grid_size[0] + 1;
    var i;
    for (i = 0; i < grid_size[0] + 1; i++) {
    ctx.moveTo(row_width * i, 0);
    ctx.lineTo(row_width * i, 499);
    ctx.stroke();
    }
    var i;
    for (i = 0; i < grid_size[0] + 1; i++) {
      ctx.moveTo(0, column_width * i);
      ctx.lineTo(499, column_width * i);
      ctx.stroke();
    }
  }


  function get_next_rover_array() {
current_rover_array = all_rovers_array[rover_array_counter];
  rover_array_counter += 1
  iterateRoverArray();
  }


  var counter = 0
  function iterateRoverArray() {
    if (current_rover_array.length == counter +1) {
      setTimeout(get_next_rover_array,2000);
    }

    position1_array = current_rover_array[counter];
    position2_array = current_rover_array[counter + 1];
    console.log(`position1_array is ${position1_array}`);
    console.log(`position2_array is ${position2_array}`);

    if(position1_array[2] != position2_array[2]) {
      console.log("It's a rotation");
      var x = (position2_array[0] * x_multiplyer);
      var y = ((grid_size[1] - position2_array[1]) * y_multiplyer)
      var direction = position2_array[2];
      var loops = 1;
      console.log(`direction from rotation is ${direction}`)
    }else{
      console.log("It's a move");
      var x = (position1_array[0] * x_multiplyer);
      var y = ((grid_size[1] - position1_array[1]) * y_multiplyer)
      var  direction = position1_array[2];
      var loops = x_multiplyer;
      console.log(`direction from move is ${direction}`)
    }
    counter += 1;
    drawRover(x,y,direction,loops);

  }



  function drawRover(x,y,direction,loops){
    var animation_counter = 1;
    var imgTag = new Image();
    var rover_canvas = document.getElementById('roverCanvas');
    var ctx = rover_canvas.getContext("2d");
    // var x = (position_array[0]*x_multiplyer) + 0.25*x_multiplyer;
    // var y = (position_array[1]*y_multiplyer) + 1.25*y_multiplyer;
    imgTag.onload = animate;
    imgTag.src = "/red-rover.png";   // load image

    function animate() {
      ctx.clearRect(0, 0, 500, 500);  // clear canvas
      ctx.drawImage(imgTag, x, y, x_multiplyer * 0.5, x_multiplyer * 0.5);                       // draw image at current position
      switch(direction) {
        case "N":
            y -= 1
            break;
        case "E":
            x +=1
            break;
        case "S":
            y +=1
            break;
        case "W":
            x -=1
            break;
      }
      console.log(`Animation counter is ${animation_counter}`);
      console.log(`loops is ${loops}`);
      if (animation_counter < loops) {
        animation_counter += 1;
        window.requestAnimationFrame(animate)
      } else {
          iterateRoverArray();
      }

    }
  }



  function create_div(){
      drawGrid(grid_size);
      //    drawRover1(current_rover_array);
      get_next_rover_array();
      }
</script>
