<style>
  .mars_pic {
    background-image: url("/mars_surface.png");
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
</style>

<body onload="create_div()">

  <img id="rover_image" style="display: none;" src="red-rover.png">

  <!-- <img src="/mars_surface.png" id="mars_pic"> -->
  <!--<img class="resize" src="/some_picture_.jpg"> -->
  <h3><%=session[:rover_routes]%></h3>
  <%=rover1_route = session[:rover_routes]["rover1"]%>
  <%=rover1_route = session[:rover_routes]["rover2"]%>



  <%rover1_route = session[:rover_routes]["rover1"]%>
  <%rover2_route = session[:rover_routes]["rover2"]%>

  <h2>The starting position for Rover #1 is <%=rover1_route[0]%></h2>
  <h3>The path Rover #1 took is <%=rover1_route%></h3>
  <h2>The ending position for Rover #1 is <%=rover1_route.last%></h2><br><br>



  <h2>The starting position for Rover #2 is <%=rover2_route[0]%></h2>
  <h3>The path Rover #2 took is <%=rover2_route%></h3>
  <h2>The ending position for Rover #2 is <%=rover2_route.last%></h2>

  <!-- <div id = "load_div"></div> -->

  <!-- <div id = "placehere"></div> -->

  <canvas  id="myCanvas" class="mars_pic" width="500vw" height="500vh" style="border:1px solid #d3d3d3;"</canvas>
</body>

<script>
  // var check = document.getElementById('loaded');
  // if (check == null) {

    console.log("You are the coolest dude!");

  var grid_string = '<%= session[:grid_size].to_json %>';
  var grid_size = JSON.parse(grid_string);

  var rover1_string = '<%= rover1_route.to_json %>';
  var rover1_array = JSON.parse(rover1_string);

  var rover2_string = '<%= rover2_route.to_json %>';
  var rover2_array = JSON.parse(rover2_string);


  var c = document.getElementById("myCanvas");
  var ctx = c.getContext("2d");
  ctx.lineWidth=2;
  ctx.strokeStyle="green";
  ctx.strokeRect(2,2,498,498);
  // var img = new Image();
  // var img = document.getElementById('mars_pic');
  // img.src = source;
  // img.src = '/mars_surface.png';
  // ctx.drawImage(img, 0, 0);


    function sleep(milliseconds) {
      var start = new Date().getTime();
      for (var i = 0; i < 1e7; i++) {
        if ((new Date().getTime() - start) > milliseconds){
          break;
        }
      }
    }

    function drawGrid(grid_size) {
      var c = document.getElementById("myCanvas");
      var ctx = c.getContext("2d");
      var row_width = 500 / grid_size[0];
      var column_width = 500 / grid_size[0];

      var i;
      for (i = 0; i < grid_size[0]; i++) {
      ctx.moveTo(row_width * i, 0);
      ctx.lineTo(row_width * i, 499);
      ctx.stroke();
      }

      var i;
      for (i = 0; i < grid_size[0]; i++) {
        ctx.moveTo(0, column_width * i);
        ctx.lineTo(499, column_width * i);

        ctx.stroke();
      }
    }

    function drawRover1(rover1_array){
      // var c = document.getElementById("myCanvas");
      // var ctx = c.getContext("2d");
      var x_multiplyer = 500 / grid_size[0];
      var y_multiplyer = 500 / grid_size[1];
      // var img = document.getElementById('rover_image');
      // rover1_array.forEach(function(position) {
      //   ctx.drawImage(img, position[0]*x_multiplyer, position[1]*y_multiplyer , 50, 50);
      //   sleep(500);


      var imgTag = new Image();
      var canvas = document.getElementById('myCanvas');
      var ctx = canvas.getContext("2d");
      var x = rover1_array[0][0]*x_multiplyer;
      var y = rover1_array[0][1]*y_multiplyer;
      // var x = canvas.width;
      // var y = 0;

      imgTag.onload = animate;
      imgTag.src = "red-rover.png";   // load image

      function animate() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);  // clear canvas
        ctx.drawImage(imgTag, x, y, 50, 50);                       // draw image at current position
        x -= 1;
        if (x > 50) requestAnimationFrame(animate)
          drawGrid(grid_size);      // loop
      }


      // });

    }
  // };
    function create_div(){
      // var load_div = document.createElement("div");
      // var load_div = document.createElement('div');
      // load_div.setAttribute("id", "loaded");
      // var element = document.getElementById('load_div');
      // load_div.appendChild(element);

      // var elem = document.createElement("img");
      // elem.setAttribute("src", "red-rover.png");
      // elem.setAttribute("style", "display: none");
      // elem.setAttribute("id", "rover_image");
      // document.getElementById("placehere").appendChild(elem);
      drawGrid(grid_size);
      drawRover1(rover1_array);

    }


</script>
